body {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
}

table {
	margin: 10px;
	width: 98%;
	border: 1px solid black;
}

th {
	padding: 10px;
	text-align: start;
	background-color: rgb(179, 213, 230);
}

button {
	appearance: none;
	padding: 5px 20px;
	box-shadow: 2px 2px 5px rgb(168, 166, 166);
}

tr {
	border-bottom: 1px solid black;
}

tr:nth-child(even) {
	background-color: rgb(174, 225, 174);
}

tr:hover {
	background-color: rgb(128, 230, 128);
}

input {
	box-shadow: 1px 1px 2px rgb(156, 153, 153);
	border: 1px solid rgb(152, 150, 150);
	appearance: none;
	padding: 2px;
}

input[type="checkbox"] {
	box-shadow: none;
	appearance: menulist;
	height: 20px;
	padding: 5px;
	background-color: white;
}

label {
	padding: 2px;
}

.main {
	display: grid;
	margin: auto;
	grid-template: 8vh 6fr / 1fr 6fr;
}

.header {
	background-color: beige;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-area: 1 / 1 / 2 / -1;
}

.nav-bar {
	height: 100vh;
	background-color: rgb(206, 206, 228);
}

.content {
	background-color: rgb(179, 240, 179);
}

.logo {
	grid-column: 1 / 2;
}

.links {
	grid-column: 2 / -1;
}

.links ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.popup-form {
	padding: 20px;
	display: none;
	position: fixed;
	left: clamp(120px, 16vw, 360px);
	top: clamp(110px, 8.5vh, 9vh);
	border: 2px solid black;
	border-radius: 5px;
	background-color: green;
}

.form-container {
	display: flex;
	flex-direction: column;
	max-width: 150px;
}

.checkbox-label {
	display: flex;
	align-items: center;
}

th:first-child {
	width: 15%;
}
th:nth-child(n + 4) {
	width: 10%;
}
